@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #001523;
  font-weight: 400;
  height: 100vh;
  padding-bottom: 150px;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.design-label:hover,
.code-label:hover {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.design-label a,
.code-label a {
  color: pink;
}

.code-label {
  bottom: 6rem;
}

p {
  line-height: 170%;
  font-size: 1.2em;
  max-width: 600px;
  opacity: .75;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrapper .left {
  height: 100%;
  width: 55%;
  background: lightgray;
  background-image: url("./assets/setup.jpg");
  background-position: center;
  background-size: cover;
}

.wrapper .right {
  height: 100%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  position: relative;
}

.wrapper .right .logo {
  max-width: 150px;
  position: absolute;
  left: 50%;
  top: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .right section h1 {
  font-size: 2em;
  color: #858585;
  padding-bottom: 1.75rem;
  font-weight: 300;
}

.wrapper .right section p {
  padding-bottom: 2rem;
}

.wrapper .right section button {
  background: #434343;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .875em;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}

.wrapper .right section button:hover {
  background: #2a2a2a;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}

.wrapper .right footer {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  max-width: 500px;
}

.wrapper .right footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2.5rem;
  max-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .right footer .icons i {
  margin: 0 1rem;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}

.wrapper .right footer .icons i:hover {
  opacity: 1;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}
/*# sourceMappingURL=style.css.map */