@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background: #fff8f6;
  font-family: "Rubik";
  max-width: 1100px;
  margin: 0 auto;
  color: #333;
  padding-bottom: 100px;
}

strong {
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;

  .left {
    .logo {
      color: #0f6aff;
      font-size: 1em;
      border: 3px solid #0f6aff;
      padding: 0.35rem 0.75rem;
      border-radius: 50px;
      border-bottom-left-radius: 0;

      span {
        font-weight: 550;
      }
    }
  }

  .right {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        list-style: none;
        margin: 0 3rem;
        color: #9c99a1;
        cursor: pointer;
        transition: 0.1s ease-in-out 0s;
        &:hover {
          color: darken(#9c99a1, 20%);
          transition: 0.1s ease-in-out 0s;
        }
      }

      .far-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1.5rem;

        li {
          margin: 0 1.5rem;
          font-weight: 500;
          &:first-child {
            color: #555;
          }
          &:last-child {
            color: #ffa28c;
          }
        }
      }
    }
  }
}

header {
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 4.25em;
      line-height: 130%;
      width: 50%;
      font-weight: 300;
      letter-spacing: 2px;
    }

    img {
      width: 50%;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
      width: 30%;
    }

    .text-buttons {
      width: 40%;

      p {
        font-size: 1em;
        line-height: 170%;
        color: #87848e;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        margin-top: 2.2rem;

        button {
          background: #161440;
          color: white;
          font-size: 1.25em;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.65rem 1.5rem;
          border-radius: 50px;
          letter-spacing: 0.5px;
          &:first-child {
            margin-right: 1.5rem;
          }

          img {
            width: 30px;
            margin-right: 0.75rem;
          }

          .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span {
              font-size: 0.5em;
              padding-bottom: 2px;
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
}
