* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;

  .left {
    background: white;
    width: 500px;
    height: 100%;
    padding: 4rem;

    .logo {
      width: 3.5rem;
    }

    h1 {
      font-weight: normal;
      padding: 2rem 0;
      padding-top: 1.5rem;
      line-height: 130%;
      letter-spacing: 0.5px;
      color: #585758;
    }

    h3 {
      font-weight: normal;
      padding-bottom: 0.75rem;
      color: #585758;
      font-size: 1.25em;
      letter-spacing: 0.5px;
    }

    .form {
      .input-wrapper {
        margin: 1rem 0;

        label {
          display: block;
          font-size: 0.75em;
          padding-bottom: 0.5rem;
          letter-spacing: 0.5px;
          color: #686768;
          font-weight: 500;
        }

        input {
          display: block;
          width: 100%;
          border: 1px solid #e6e5e6;
          border-radius: 5px;
          padding: 0.75rem;
          font-size: 0.875em;
          color: #686768;
          font-weight: 500;
          &:focus {
            border-color: #9ab2c6;
            outline: none;
            color: #9ab2c6;
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem 0;

        button {
          font-size: 0.875em;
          border-radius: 5px;
          padding: 0.75rem;
          width: calc(50% - 0.5rem);
          cursor: pointer;
          color: #5497d3;
          border: 1px solid #5497d3;
          font-weight: 500;
          &:first-child {
            background: #5497d3;
            color: white;
          }
        }
      }

      p {
        color: #579cd7;
        font-weight: 500;
        text-align: center;
        font-size: 0.875em;
        margin-top: 0.5rem;
      }
    }
  }

  .right {
    height: 100%;
    width: calc(100% - 500px);
    background-image: url("./assets/road.png");
    background-position: center;
    background-size: cover;
  }
}
