* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  height: 100vh;
  background: #f8fafd;
  color: #0b1e37;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  z-index: 100;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.design-label:hover,
.code-label:hover {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.design-label a,
.code-label a {
  color: pink;
}

.code-label {
  bottom: 6rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .sidebar {
  background: #2337b6;
  color: white;
  width: 300px;
  max-height: 100vh;
  overflow-y: hidden;
  z-index: 11;
}

.wrapper .sidebar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.75rem;
}

.wrapper .sidebar header .logo {
  height: 30px;
  width: 32px;
  margin-right: 1rem;
  margin-left: -2px;
}

.wrapper .sidebar header h3 {
  opacity: 0.75;
  font-weight: normal;
  font-size: 1.25em;
}

.wrapper .sidebar h4 {
  margin: 1rem 1.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.85;
  font-weight: 500;
  margin-top: 1.5rem;
}

.wrapper .sidebar ul {
  width: 100%;
}

.wrapper .sidebar ul li {
  list-style: none;
  opacity: 0.6;
  font-size: 1.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 0;
  cursor: pointer;
  border-left: 3px solid #1d34ab;
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
}

.wrapper .sidebar ul li:hover {
  background: #1d34ab;
  border-left: 3px solid #a4b1f0;
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
  opacity: 1;
}

.wrapper .sidebar ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
}

.wrapper .sidebar ul li span {
  display: block;
}

.wrapper .main-nav {
  -webkit-box-shadow: 0 0px 15px 0 #f1eefd;
          box-shadow: 0 0px 15px 0 #f1eefd;
  position: fixed;
  top: 0;
  width: calc(100vw - 300px);
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-nav .hamburger {
  font-size: 1.75em;
  color: #5161c4;
}

.wrapper .main-nav .input-wrapper {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  position: relative;
  margin: 0 3rem;
}

.wrapper .main-nav .input-wrapper i {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  color: #d5d9f0;
  font-size: 1.5em;
}

.wrapper .main-nav .input-wrapper input {
  width: 100%;
  border: none;
  padding-left: 3rem;
  font-size: 1.1em;
}

.wrapper .main-nav .input-wrapper input::-webkit-input-placeholder {
  color: #d5d9f0;
}

.wrapper .main-nav .input-wrapper input:-ms-input-placeholder {
  color: #d5d9f0;
}

.wrapper .main-nav .input-wrapper input::-ms-input-placeholder {
  color: #d5d9f0;
}

.wrapper .main-nav .input-wrapper input::placeholder {
  color: #d5d9f0;
}

.wrapper .main-nav .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-nav .user .avatar {
  margin-right: .75rem;
  margin-left: 1.5rem;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.wrapper .main-nav .user h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.wrapper .dashboard {
  width: calc(100vw - 300px);
  padding: 2rem;
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 9rem;
}

.wrapper .dashboard .dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .dashboard .dashboard-header h2 {
  font-weight: normal;
}

.wrapper .dashboard .dashboard-header h2 span {
  font-weight: 500;
  color: #2337b6;
}

.wrapper .dashboard .dashboard-header .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .dashboard .dashboard-header .filter .filter-dropdown-wrapper {
  position: relative;
}

.wrapper .dashboard .dashboard-header .filter .filter-dropdown-wrapper .filter-dropdown-button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto !important;
  padding-left: 1rem;
  font-size: .875em;
  color: #344257;
}

.wrapper .dashboard .dashboard-header .filter .filter-dropdown-wrapper i {
  margin-left: 1rem;
  height: 40px;
  width: 40px;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #737373;
}

.wrapper .dashboard .dashboard-header .filter .filter-button, .wrapper .dashboard .dashboard-header .filter .double-icons i, .wrapper .dashboard .dashboard-header .filter .filter-dropdown-button {
  height: 40px;
  width: 40px;
  background: white;
  color: #ccd6df;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
}

.wrapper .dashboard .dashboard-header .filter .filter-button:hover, .wrapper .dashboard .dashboard-header .filter .double-icons i:hover, .wrapper .dashboard .dashboard-header .filter .filter-dropdown-button:hover {
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
  background: #f7f7f7;
  z-index: 2;
  -webkit-box-shadow: 0 3px 7px 0 #ede9fd;
          box-shadow: 0 3px 7px 0 #ede9fd;
}

.wrapper .dashboard .dashboard-header .filter .filter-button {
  margin: 0 .75rem;
}

.wrapper .dashboard .dashboard-header .filter .double-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .dashboard .dashboard-header .filter .double-icons i {
  font-size: 1.3em;
}

.wrapper .dashboard .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  margin: 3.5rem 0;
}

.wrapper .dashboard .cards .card {
  background: white;
  border-radius: 3px;
  height: 320px;
  border-left: 3px solid #fff;
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
  position: relative;
}

.wrapper .dashboard .cards .card:hover {
  border-left: 3px solid #00bcc8;
  -webkit-box-shadow: 0 10px 25px 0 #d6e7ff;
          box-shadow: 0 10px 25px 0 #d6e7ff;
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
}

.wrapper .dashboard .cards .card header,
.wrapper .dashboard .cards .card section,
.wrapper .dashboard .cards .card footer {
  padding: 1rem;
}

.wrapper .dashboard .cards .card section {
  padding-top: 0;
}

.wrapper .dashboard .cards .card hr {
  opacity: 0.2;
}

.wrapper .dashboard .cards .card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .dashboard .cards .card header .left .icon {
  height: 35px;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.wrapper .dashboard .cards .card header .left h3 {
  font-weight: normal;
}

.wrapper .dashboard .cards .card header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .dashboard .cards .card header .right .tag {
  border-radius: 50px;
  font-size: 0.875em;
  padding: 0.5rem 1rem;
  letter-spacing: 0.5px;
  margin-right: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .dashboard .cards .card header .right i {
  opacity: 0.15;
  font-size: 0.9em;
  cursor: pointer;
}

.wrapper .dashboard .cards .card header .right i:hover {
  opacity: 0.75;
  -webkit-transition: 0.25s ease-in-out 0s;
  transition: 0.25s ease-in-out 0s;
}

.wrapper .dashboard .cards .card section h4 {
  padding: 1rem 0;
  padding-top: 0.25rem;
  opacity: 0.75;
  font-weight: normal;
}

.wrapper .dashboard .cards .card section p {
  line-height: 160%;
  opacity: 0.6;
}

.wrapper .dashboard .cards .card section .range {
  background: #eef4ff;
  border-radius: 50px;
  height: 8px;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
}

.wrapper .dashboard .cards .card section .range .fill {
  height: 100%;
  position: relative;
  border-radius: 50px;
}

.wrapper .dashboard .cards .card section .range .fill .content {
  background: #00c1ce;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.wrapper .dashboard .cards .card section .range .fill .point {
  height: 1.2rem;
  width: 1.2rem;
  background: white;
  border: 3px solid #00c1ce;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .dashboard .cards .card footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-top: 1px solid #ebebeb;
  bottom: 0;
  left: 0;
}

.wrapper .dashboard .cards .card footer .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .dashboard .cards .card footer .author .profile {
  background: #ebf9fb;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.75rem;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.wrapper .dashboard .cards .card footer .author .profile h4 {
  color: #00c4d0;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.wrapper .dashboard .cards .card footer button {
  background: none;
  border: none;
  font-size: 1em;
  border-bottom: 1px solid #00c1ce;
  padding-bottom: none;
  color: #00c1ce;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */