@mixin trans {
    transition: 0.25s ease-in-out 0s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    height: 100vh;
    background: #f8fafd;
}

*:focus {
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;

    .sidebar {
        background: #2337b6;
        color: white;
        width: 300px;
        max-height: 100vh;
        overflow-y: auto;

        header {
            display: flex;
            align-items: center;
            padding: 1.5rem 1.75rem;

            .logo {
                height: 30px;
                width: 30px;
                background: #00c2ce;
                margin-right: 1rem;
            }

            h3 {
                opacity: 0.75;
                font-weight: normal;
                font-size: 1.25em;
            }
        }

        h4 {
            margin: 1rem 1.75rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            opacity: 0.85;
            font-weight: 500;
            margin-top: 1.5rem;
        }

        ul {
            width: 100%;

            li {
                list-style: none;
                opacity: 0.6;
                font-size: 1.15em;
                display: flex;
                padding: 1.25rem 0;
                cursor: pointer;
                border-left: 3px solid lighten(#1d34ab, 0%);

                @include trans;

                &:hover {
                    background: #1d34ab;
                    border-left: 3px solid lighten(#1d34ab, 40%);

                    @include trans;

                    opacity: 1;
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                }

                span {
                    display: block;
                }
            }
        }
    }

    .dashboard {
        width: calc(100vw - 300px);
        padding: 2rem;
        max-height: 100vh;
        overflow-y: auto;

        .dashboard-header {
            display: flex;
            justify-content: space-between;

            h2 {
                font-weight: normal;

                span {
                    font-weight: 500;
                    color: #2337b6;
                }
            }

            .filter {
                display: flex;

                .filter-dropdown-wrapper {
                    position: relative;

                    .filter-dropdown-button {
                        border: none;
                        display: flex;
                        width: auto !important;
                        padding-left: 1rem;
                        font-size: .875em;
                        color: #344257;
                    }

                    i {
                        margin-left: 1rem;
                        height: 40px;
                        width: 40px;
                        background: #f7f7f7;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #737373;
                    }
                }

                .filter-button, .double-icons i, .filter-dropdown-button {
                    height: 40px;
                    width: 40px;
                    background: white;
                    color: #ccd6df;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    @include trans;

                    &:hover {
                        @include trans;

                        background: #f7f7f7;
                        z-index: 2;
                        box-shadow: 0 3px 7px 0 #ede9fd;
                    }
                }

                .filter-button {
                    margin: 0 .75rem;
                }

                .double-icons {
                    display: flex;

                    i {
                        font-size: 1.3em;
                    }
                }
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 1.5rem;
            margin: 3.5rem 0;

            .card {
                background: white;
                border-radius: 3px;
                height: 320px;
                border-left: 3px solid #fff;

                @include trans;

                position: relative;

                &:hover {
                    border-left: 3px solid #00bcc8;
                    box-shadow: 0 10px 25px 0 lighten(#006aff, 42%);

                    @include trans;
                }

                header,
                section,
                footer {
                    padding: 1rem;
                }

                section {
                    padding-top: 0;
                }

                hr {
                    opacity: 0.2;
                }

                header {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .left {
                        .icon {
                            height: 35px;
                            margin-bottom: 1rem;
                            border-radius: 3px;
                        }

                        h3 {
                            font-weight: normal;
                        }
                    }

                    .right {
                        display: flex;
                        align-items: center;

                        .tag {
                            border-radius: 50px;
                            font-size: 0.875em;
                            padding: 0.5rem 1rem;
                            letter-spacing: 0.5px;
                            margin-right: 0.75rem;
                            user-select: none;
                        }

                        i {
                            opacity: 0.15;
                            font-size: 0.9em;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.75;

                                @include trans;
                            }
                        }
                    }
                }

                section {
                    h4 {
                        padding: 1rem 0;
                        padding-top: 0.25rem;
                        opacity: 0.75;
                        font-weight: normal;
                    }

                    p {
                        line-height: 160%;
                        opacity: 0.6;
                    }

                    .range {
                        background: #eef4ff;
                        border-radius: 50px;
                        height: 8px;
                        width: 100%;
                        margin-top: 1.25rem;
                        margin-bottom: 0.25rem;

                        .fill {
                            height: 100%;
                            position: relative;
                            border-radius: 50px;

                            .content {
                                background: #00c1ce;
                                width: 100%;
                                height: 100%;
                                border-radius: 50px;
                            }

                            .point {
                                height: 1.2rem;
                                width: 1.2rem;
                                background: white;
                                border: 3px solid #00c1ce;
                                border-radius: 50%;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                footer {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    border-top: 1px solid #ebebeb;
                    bottom: 0;
                    left: 0;

                    .author {
                        display: flex;
                        align-items: center;

                        .profile {
                            background: lavender;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            margin-right: 0.75rem;
                            background-position: center;
                            background-size: cover;
                        }
                    }

                    button {
                        background: none;
                        border: none;
                        font-size: 1em;
                        border-bottom: 1px solid #00c1ce;
                        padding-bottom: none;
                        color: #00c1ce;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
