@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #001523;
  font-weight: 400;
  height: 100vh;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.design-label:hover,
.code-label:hover {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.design-label a,
.code-label a {
  color: pink;
}

.code-label {
  bottom: 6rem;
}

li {
  cursor: pointer;
  line-height: 170%;
}

.wrapper .main-sidebar {
  background: #015eb7;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  top: 100px;
}

.wrapper .main-sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  padding: 4rem 7.5rem;
}

.wrapper .main-sidebar ul h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

.wrapper .main-sidebar ul li {
  list-style: none;
  margin-top: 3rem;
  cursor: pointer;
}

.wrapper .main-sidebar ul li:hover {
  color: #ff897e;
}

.wrapper .main-header {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  background: #015eb7;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-header .logo-wrapper {
  width: 350px;
  padding: 0 7.5rem;
}

.wrapper .main-header .logo-wrapper .logo {
  color: #ff897e;
}

.wrapper .main-header .list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 350px);
}

.wrapper .main-header .list-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-header .list-wrapper ul li {
  list-style: none;
  color: white;
  cursor: pointer;
}

.wrapper .main-header .list-wrapper ul li:hover {
  color: #ff897e;
}

.wrapper .main-header .list-wrapper ul.left li {
  margin-right: 3rem;
}

.wrapper .main-header .list-wrapper ul.right {
  padding-right: 4rem;
}

.wrapper .main-header .list-wrapper ul.right li,
.wrapper .main-header .list-wrapper ul.right .notifications-wrapper {
  margin-left: 3rem;
  color: white;
}

.wrapper .main-header .list-wrapper ul.right li:hover,
.wrapper .main-header .list-wrapper ul.right .notifications-wrapper:hover {
  color: #ff897e;
}

.wrapper .main-header .list-wrapper ul.right .notifications-wrapper {
  background: #ff897e;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 500;
}

.wrapper .main-header .list-wrapper ul.right .notifications-wrapper span {
  margin-top: -2px;
}

.wrapper .content {
  position: absolute;
  left: 350px;
  top: 75px;
  padding: 5rem;
}

.wrapper .content h1 {
  color: #015eb7;
  font-size: 2em;
  padding-bottom: 3rem;
}

.wrapper .content label {
  color: #015eb7;
}
/*# sourceMappingURL=style.css.map */