@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");

@mixin trans {
  transition: 0.1s ease-in-out 0s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #001523;
  font-weight: 400;
  height: 100vh;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  transition: 0.1s ease-in-out 0s;
  user-select: none;
  z-index: 2;

  &:hover {
    opacity: 1;
    transition: 0.1s ease-in-out 0s;
  }

  a {
    color: pink;
  }
}

.code-label {
  bottom: 6rem;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .left {
    background: white;
    height: 100%;
    width: 50%;
    padding: 10rem;

    .title {
      position: relative;
      height: 150px;

      .number {
        line-height: 100%;
        color: #fff5f0;
        font-size: 18em;
        position: absolute;
        top: -9rem;
      }

      .name {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 4.5em;
        color: #465365;
        font-family: "Playfair Display", serif;
        font-weight: 500;
      }
    }

    .info {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 1rem;
      width: 50%;

      label {
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        color: #465365;
        letter-spacing: 0.5px;
        opacity: 0.75;
        font-size: 0.95em;
      }

      h4 {
        color: #465365;
        padding-top: 0.5rem;
        letter-spacing: 0.5px;
        font-family: sans-serif;
        font-size: 1.1em;
      }
    }

    .description {
      font-size: 1.1em;
      letter-spacing: 0.5px;
      font-weight: 300;
      max-width: 450px;
      line-height: 150%;
      padding-top: 2rem;
      color: #465365;
    }

    .button-wrapper {
      padding-top: 2rem;
      display: flex;
      justify-content: flex-end;
      max-width: 450px;

      button {
        border: 1px solid #465365;
        font-size: 0.875em;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "Playfair Display", serif;
        color: #465365;
        padding: 0.75rem 1.2rem;
        background: none;
        cursor: pointer;
        @include trans();
        &:hover {
          background: #465365;
          color: white;
          @include trans();
        }
      }
    }
  }

  .right {
    background: #fff1eb;
    height: 100%;
    width: 50%;
    position: relative;

    .image {
      height: 75%;
      width: 100%;
      max-width: 550px;
      background: lightblue;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-4rem, -50%);
      background-image: url("./assets/model.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}
