@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #001523;
  font-weight: 400;
  height: 100vh;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.design-label:hover,
.code-label:hover {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.design-label a,
.code-label a {
  color: pink;
}

.code-label {
  bottom: 6rem;
}

header.main-header {
  min-height: 425px;
  background: #fafcfe;
  position: relative;
}

header.main-header nav {
  position: absolute;
  top: 3rem;
  width: 100%;
  max-width: 1400px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main-header nav ul li {
  list-style: none;
  margin: 0 1.2rem;
  font-weight: 500;
  font-size: 1em;
}

header.main-header nav button {
  color: white;
  border: none;
  border-radius: 5px;
  background: #ff6740;
  padding: 0.75rem 1.5rem;
  font-size: 1em;
  font-weight: 500;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

header.main-header nav button:hover {
  background: #ff5327;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

header.main-header .header-content {
  min-height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header.main-header .header-content h1 {
  font-size: 3em;
}

header.main-header .header-content h4 {
  padding-top: 1rem;
  font-size: 1.25em;
  font-weight: 500;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  margin: 6rem auto;
}

.users .user-wrapper {
  margin: 2rem;
}

.users .user-wrapper:hover .main-name {
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.users .user-wrapper:hover .social-wrapper {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  opacity: 1;
}

.users .user-wrapper .main-name {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5rem;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.users .user {
  height: 350px;
  width: 350px;
  background: #eee;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.users .user .social-wrapper {
  position: absolute;
  background: white;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.users .user h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.users .user-1 {
  background-image: url("./assets/user-1.jpg");
}

.users .user-2 {
  background-image: url("./assets/user-2.jpg");
}

.users .user-3 {
  background-image: url("./assets/user-3.jpg");
}

.users .user-4 {
  background-image: url("./assets/user-4.jpg");
}

.users .user-5 {
  background-image: url("./assets/user-5.jpg");
}

.users .user-6 {
  background-image: url("./assets/user-6.jpg");
}
/*# sourceMappingURL=style.css.map */