@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");

@mixin trans {
  transition: 0.1s ease-in-out 0s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #001523;
  font-weight: 400;
  height: 100vh;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  transition: 0.1s ease-in-out 0s;
  user-select: none;
  z-index: 2;

  &:hover {
    opacity: 1;
    transition: 0.1s ease-in-out 0s;
  }

  a {
    color: pink;
  }
}

.code-label {
  bottom: 6rem;
}

header.main-header {
  min-height: 400px;
  background: #fafcfe;
  position: relative;

  nav {
    position: absolute;
    top: 3rem;
    width: 100%;
    max-width: 1400px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 2em;
      font-weight: 700;

      span {
        color: #ff6740;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        margin: 0 1.2rem;
        font-weight: 500;
        font-size: 1em;
      }
    }

    button {
      color: white;
      border: none;
      border-radius: 5px;
      background: #ff6740;
      padding: 0.75rem 1.5rem;
      font-size: 1em;
      font-weight: 500;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      @include trans();
      &:hover {
        background: darken(#ff6740, 5%);
        @include trans();
      }
    }
  }

  .header-content {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 3em;
    }

    h4 {
      padding-top: 1rem;
      font-size: 1.25em;
      font-weight: 500;
    }
  }
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 6rem auto;

  .user-wrapper {
    margin: 2rem;
    &:hover {
      .main-name {
        opacity: 0;
        @include trans();
      }

      .social-wrapper {
        transform: translateY(0) !important;
        opacity: 1;
      }
    }

    .main-name {
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
      margin-top: 1.5rem;
      @include trans();
    }
  }

  .user {
    height: 350px;
    width: 350px;
    background: #eee;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    @include trans();

    .social-wrapper {
      position: absolute;
      background: white;
      height: 175px;
      width: 100%;
      bottom: -75px;
      left: 0;
      opacity: 0;
      @include trans();
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      transform: translateY(50px);
      z-index: 2;

      h3 {
        font-weight: 500;
      }

      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5rem;

        i {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          @include trans();
          font-size: 1em;
          border: 1px solid #eee;
          color: #556572;
          &:hover {
            background: #f95959;
            border-color: #f95959;
            color: white;
            @include trans();
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }

    h4 {
      font-size: 1.2em;
      font-weight: 300;
      padding-top: 0.5rem;
    }
  }

  .user-1 {
    background-image: url("./assets/user-1.jpg");
  }

  .user-2 {
    background-image: url("./assets/user-2.jpg");
  }

  .user-3 {
    background-image: url("./assets/user-3.jpg");
  }

  .user-4 {
    background-image: url("./assets/user-4.jpg");
  }

  .user-5 {
    background-image: url("./assets/user-5.jpg");
  }

  .user-6 {
    background-image: url("./assets/user-6.jpg");
  }
}
