@import url("https://fonts.googleapis.com/css?family=Roboto:700,900|Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #212121;
  font-weight: 400;
  margin-bottom: 200px;
  min-height: 100vh;
}

*:focus {
  outline: none;
}

.design-label,
.code-label {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  padding: 0.85rem;
  color: white;
  font-size: 1em;
  text-align: left;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.design-label:hover,
.code-label:hover {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out 0s;
  transition: 0.1s ease-in-out 0s;
}

.design-label a,
.code-label a {
  color: pink;
}

.code-label {
  bottom: 6rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2.5rem;
  max-width: 1600px;
  margin: 0 auto;
}

nav img {
  max-width: 300px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 1em;
  margin: 0 1.5rem;
  font-weight: bolder;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul button {
  background: #fef12f;
  padding: 1rem 2rem;
  border: none;
  font-size: .9em;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}

nav ul button:hover {
  background: #f9e901;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  padding: 0 2.5rem;
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 600px;
  left: 50%;
}

header .left h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 4.5em;
}

header .left p {
  opacity: .6;
  font-size: 1.15em;
  line-height: 170%;
  margin: 2rem 0;
  max-width: 600px;
}

header .left button {
  background: #000000;
  color: white;
  text-transform: capitalize;
  padding: 1rem 3rem;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #000000;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
}

header .left button:hover {
  background: none;
  -webkit-transition: .1s ease-in-out 0s;
  transition: .1s ease-in-out 0s;
  color: #000000;
}

header .placeholder-block {
  width: 100%;
  max-width: 700px;
  min-height: 600px;
}

header img {
  width: 100%;
  max-width: 700px;
  top: 17%;
  position: absolute;
  right: 0;
}
/*# sourceMappingURL=style.css.map */